.single
    .container
        .list-bg    
            .style.bg-color
                .sgv
                    img(src="./image/top_half_right.png", alt="")
            .single-product
                .right-content
                    .party
                        h2 Crabby Patty
                        .image-zoom
                            a(href="./image/salad.jpg")
                                img(src="./image/salad.jpg", alt="")
                        .description
                            p Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                    .mad-cal
                        .price
                            .price-mad
                                | Price:
                                span.mad-price  $11.99
                            .mad-calc
                                .quantity
                                    input#quantity(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                                    span Add to Cart
                    .single-info
                        .row
                            .col-sm-4
                                h5 Ingredients
                                ul
                                    li Watercress
                                    li Green Apple
                                    li Citus
                                    li Vinaigrette
                            .col-sm-4
                                h5 Portion Size
                                ul
                                    li 190 g
                                    
                            .col-sm-4
                                h5 Nutritional
                                ul
                                    li
                                        | Calories: 
                                        span 420 kcal
                                    li
                                        | Cholesterol: 
                                        span 45 mg
                                    li
                                        | Fiber: 
                                        span 7 g
                                    li
                                        | Sodium: 
                                        span 55 g
                                    li
                                        | Cabonhdrrates: 
                                        span 40 g
                                    li
                                        | Fat: 
                                        span 5 g
                                    li
                                        | Protein: 
                                        span 46 g
                    .share
                        span Share:
                        .social
                            ul
                                li  
                                    a(href="#")
                                        i.fab.fa-facebook-f
                                li  
                                    a(href="#")
                                        i.fab.fa-twitter
                                li  
                                    a(href="#")
                                        i.fab.fa-tumblr
                                li  
                                    a(href="#")
                                        i.fab.fa-pinterest-p
                    .page-nav
                        .nav-left
                            figure
                                a(href="#")
                                    img(src="./image/sss.jpg", alt="")
                            .content
                                .post   
                                    |Previous
                                h6 
                                    a(href="#") Tandoori Monkfish
                        .nav-right
                            figure
                                a(href="#")
                                    img(src="./image/ss7.jpg", alt="")
                            .content
                                .post   
                                    |Next
                                h6 
                                    a(href="#") Sicilian Seafoodstew
                    .element
                        h4 You Might Also Like
                        .element-product
                            .mad-product
                                .product
                                    figure
                                        a(href="#")
                                            img(src="./image/pr20.jpg", alt="")
                                    .product-content
                                        h6 
                                            a(href="#") Crabby Patty
                                        span 240 g | 8 pieces | 420 kcal
                                        p watercress, green apple, citrus vinaigrette
                                    .price
                                        span.mad-price $9.00
                                        .mad-calc
                                            .quantity
                                                input#quantity(type="text" value="1" readonly)
                                                button.qty-plus(type="text" )
                                                    i.fas.fa-plus
                                                button.qty-minus(type="text" )
                                                    i.fas.fa-minus
                                            a(href="#")
                                                i.fas.fa-shopping-cart
                            .mad-product
                                .product
                                    figure
                                        a(href="#")
                                            img(src="./image/pr18.jpg", alt="")
                                    .product-content
                                        h6 
                                            a(href="#") Crabby Patty
                                        span 240 g | 8 pieces | 420 kcal
                                        p watercress, green apple, citrus vinaigrette
                                    .price
                                        span.mad-price $9.00
                                        .mad-calc
                                            .quantity
                                                input#quantity(type="text" value="1" readonly)
                                                button.qty-plus(type="text" )
                                                    i.fas.fa-plus
                                                button.qty-minus(type="text" )
                                                    i.fas.fa-minus
                                            a(href="#")
                                                i.fas.fa-shopping-cart
                            .mad-product
                                .product
                                    figure
                                        a(href="#")
                                            img(src="./image/pr21.jpg", alt="")
                                    .product-content
                                        h6 
                                            a(href="#") Crabby Patty
                                        span 240 g | 8 pieces | 420 kcal
                                        p watercress, green apple, citrus vinaigrette
                                    .price
                                        span.mad-price $9.00
                                        .mad-calc
                                            .quantity
                                                input#quantity(type="text" value="1" readonly)
                                                button.qty-plus(type="text" )
                                                    i.fas.fa-plus
                                                button.qty-minus(type="text" )
                                                    i.fas.fa-minus
                                            a(href="#")
                                                i.fas.fa-shopping-cart
                    .comment
                        h4 Comments
                        ol.comments-list
                            li.has-children
                                .body
                                    .avatar 
                                        a(href="#")
                                            img(src="./image/avatar.jpg", alt="")
                                    .comment-info
                                        cite Caroline Beek
                                        .meta
                                            time(datetime="2020-10-17") October 17, 2020 at 2:41 pm
                                            a(href="#") 
                                                i.fas.fa-reply
                                                |Reply
                                        .comment-content
                                            p Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis.

                                ul.children
                                    li.body.pd
                                        .avatar 
                                            a(href="#")
                                                img(src="./image/avtar2.jpg", alt="")
                                        .comment-info
                                            cite Caroline Beek
                                            .meta
                                                time(datetime="2020-10-17") October 17, 2020 at 2:41 pm
                                                a(href="#") 
                                                    i.fas.fa-reply
                                                    |Reply
                                            .comment-content
                                                p Vestibulum sed ante. Donec sagittis euismod purus.
                            .has-children
                                .body
                                    .avatar 
                                        a(href="#")
                                            img(src="./image/avatar3.jpg", alt="")
                                    .comment-info
                                        cite Caroline Beek
                                        .meta
                                            time(datetime="2020-10-17") October 17, 2020 at 2:41 pm
                                            a(href="#") 
                                                i.fas.fa-reply
                                                |Reply
                                        .comment-content
                                            p Donec sagittis euismod purus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,eaque ipsa quae ab illo inventore
                    .reply
                        h4 Leave a Reply
                        p Your email adress will not be published. Require fields are marked *
                        .col
                            textarea#commnet(name="" , rows="5" placeholder="Your comment")
                        .col
                            input(type="text" placeholder="Your Name")
                        .col
                            input(type="email" placeholder="Your Email")
                        .col
                            input(type="url" placeholder="Website")
                        .col
                            .fields(style="display: block")
                                input(type="checkbox")
                                label#check(for="checkbox-1")
                                    | Save my name, email, and website in this browser for the next time I comment.
                        .col
                            button.btn Submit
                .left-content
                    .widget
                        .cart-info#info
                                .product-small
                                    h4.title Cart   
                                    .small.small1
                                        button.close
                                            i.far.fa-times-circle#close1
                                        a(href="single.html")
                                            img(src="./image/ss1.jpg", alt="")
                                        .description
                                            a(href="#") Cured Sea Trout
                                            span 1 x $6.00
                                    .small.small2
                                        button.close
                                            i.far.fa-times-circle#close2
                                        a(href="single.html")
                                            img(src="./image/ss2.jpg", alt="")
                                        .description
                                            a(href="#") Cured Sea Trout
                                            span 1 x $6.00
                                .product-footer
                                    .total
                                        | Subtotal: 
                                        span $14.00
                                    a(href="#")
                                        span Checkout
                                        i.fas.fa-long-arrow-alt-right
                    .widget
                        h4 Design Your Salad
                        figure
                            a(href="#")
                                img(src="./image/salad-1.jpg", alt="")
                        .content
                            h6 Salad
                            p Use your salad builder to make the most tasty salad for you - star with Add topping button
                        .button
                            a.btn(href="#") Add Topping
                            a.btn(href="#") Add to Cart
                    .widget
                        h4 Search
                        form(action="")
                            input(type="text" placeholder=" Search")
                            button(type="submit")
                                i.fas.fa-search
                    .widget
                        h4 categories
                        .list
                            ul
                                li
                                    a(href="#") News
                                li
                                    a(href="#") Events
                                li
                                    a(href="#") Food 
                                li
                                    a(href="#") Tips & trick
                    .widget
                        h4 Our Specialties
                        .product-small
                            .small
                                .mad-product
                                    a(href="#")
                                        img(src="./image/s5.jpg", alt="")
                                .content
                                    h5.title 
                                       a(href="#") Seafood Soup
                                    p roast beetroot & beetroot ketchup
                                    span.price $8.00
                            .small
                                .mad-product
                                    a(href="#")
                                        img(src="./image/s6.jpg", alt="")
                                .content
                                    h5.title 
                                       a(href="#") Seafood Soup
                                    p roast beetroot & beetroot ketchup
                                    span.price $8.00
                            .small
                                .mad-product
                                    a(href="#")
                                        img(src="./image/s7.jpg", alt="")
                                .content
                                    h5.title 
                                       a(href="#") Seafood Soup
                                    p roast beetroot & beetroot ketchup
                                    span.price $8.00
                    .widget.no-bg 
                        .banner
                            .banner-inner
                                h4 Happy hours
                                p  
                                    | Monday - Thursday: 5pm - 6pm
                                    br
                                    |Friday - Saturday: 2pm - 4pm
                                a.btn.btn-2(href="#") Explore The Menu
                    .widget
                        h4 From Instagram
                        .image-group
                            .image
                                a(href="#")
                                    img(src="./image/s1.jpg", alt="")
                            .image
                                a(href="#")
                                    img(src="./image/s2.jpg", alt="")
                            .image
                                a(href="#")
                                    img(src="./image/s3.jpg", alt="")
                            .image
                                a(href="#")
                                    img(src="./image/s4.jpg", alt="")
                            .image
                                a(href="#")
                                    img(src="./image/112x112_img1.jpg", alt="")
                            .image
                                a(href="#")
                                    img(src="./image/112x112_img2.jpg", alt="")
                        a.blank(href="https://instagram.com/" target="_blank") Follow Us On Instagram




                                    
                                    
                                    
script.
    $('#close1').click(function(){
        $('.small1').addClass('opacity');
    })
    $('#close2').click(function(){
        $('.small2').addClass('opacity');
    })
    $('#check').click(function(){
        $('#check').toggleClass('checkin')
    })
    if ($('.quantity').length) {
        var q = $('.quantity');
        q.each(function () {
            var $this = $(this),
                button = $this.children('button'),
                input = $this.children('input[type="text"]'),
                val = +input.val();
            button.on('click', function () {
                if ($(this).hasClass('qty-minus')) {
                    if (val === 1) return false;
                    input.val(--val);
                }
                else {
                    input.val(++val);
                }
            });
        });
    }
                        