.list
    .container
        .list-bg    
            .style.bg-color
                .sgv
                    img(src="./image/top_half_right.png", alt="")
            .row
                .col-12
                    .seclect
                        .tab
                            span
                                a#menu.active(href="#") All Menu
                            span
                                a#star(href="#") Starters
                            span
                                a#salad(href="#") Salads
                            span
                                a#main(href="#") Main
                            span
                                a#des(href="#") desserts
                            span
                                a#drink(href="#") Drink
                    .selection
                        .mad-col
                            span Showing 1 -12 of 36 results
                        .mad-col
                            .mad-custom-select.size-2
                                select(data-default-text="Default sorting" style="display: none")
                                    option Option 1  
                                    option Option 2  
                                    option Option 3 
                                .mad-selected-option#seclect
                                    | Default sorting
                                ul.mad-option-list.mad-list--unstyled
                                    li#1.mad-active(data-value= "Option 1") Option 1
                                    li#2(data-value= "Option 2") Option 2
                                    li#3(data-value= "Option 3") Option 3
            .list-product
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr2.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr3.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr4.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr1.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr5.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr6.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr7.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr8.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr9.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr14.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr16.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr17.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr18.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr20.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr20.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
                .mad-product
                    .product
                        figure
                            a(href="#")
                                img(src="./image/pr21.jpg", alt="")
                        .product-content
                            h6 
                                a(href="#") Crabby Patty
                            span 240 g | 8 pieces | 420 kcal
                            p watercress, green apple, citrus vinaigrette
                        .price
                            span.mad-price $9.00
                            .mad-calc
                                .quantity
                                    input(type="text" value="1" readonly)
                                    button.qty-plus(type="text" )
                                        i.fas.fa-plus
                                    button.qty-minus(type="text" )
                                        i.fas.fa-minus
                                a(href="#")
                                    i.fas.fa-shopping-cart
            ul
                li
                    a(href="#")
                        i.fas.fa-angle-left
                li
                    a.active(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#")
                        i.fas.fa-angle-right

script.
    $('#1').click(function(){
        $('#1').addClass('mad-active');
        $('#2').removeClass('mad-active');
        $('#3').removeClass('mad-active');
        var element = document.getElementById('1');
        document.getElementById('seclect').innerHTML = "Option 1";
        $('.mad-option-list').toggleClass('list1');
         $('.mad-selected-option').toggleClass('rotate');



    })
    
    $('#2').click(function(){
        $('#2').addClass('mad-active');
        $('#1').removeClass('mad-active');
        $('#3').removeClass('mad-active');
        var element = document.getElementById('2');
        document.getElementById('seclect').innerHTML = "Option 2";
        $('.mad-option-list').toggleClass('list1');
         $('.mad-selected-option').toggleClass('rotate');


    })
    $('#3').click(function(){
        $('#3').addClass('mad-active');
        $('#2').removeClass('mad-active');
        $('#1').removeClass('mad-active');
        var element = document.getElementById('3');
        document.getElementById('seclect').innerHTML = "Option 3";
        $('.mad-option-list').toggleClass('list1');
         $('.mad-selected-option').toggleClass('rotate');


    })

    $('.mad-selected-option').click(function(){
         $('.mad-selected-option').toggleClass('rotate');
         $('.mad-option-list').toggleClass('list1');
    })
    $('#menu').click(function(){
        $('#menu').addClass('active');
        $('#star').removeClass('active');
        $('#salad').removeClass('active');
        $('#main').removeClass('active');
        $('#des').removeClass('active');
        $('#drink').removeClass('active');
    })
    $('#star').click(function(){
        $('#star').addClass('active');
        $('#menu').removeClass('active');
        $('#salad').removeClass('active');
        $('#main').removeClass('active');
        $('#des').removeClass('active');
        $('#drink').removeClass('active');
    })
    $('#salad').click(function(){
        $('#salad').addClass('active');
        $('#star').removeClass('active');
        $('#menu').removeClass('active');
        $('#main').removeClass('active');
        $('#des').removeClass('active');
        $('#drink').removeClass('active');
    })
    $('#main').click(function(){
        $('#main').addClass('active');
        $('#star').removeClass('active');
        $('#salad').removeClass('active');
        $('menu').removeClass('active');
        $('#des').removeClass('active');
        $('#drink').removeClass('active');
    })
    $('#des').click(function(){
        $('#des').addClass('active');
        $('#star').removeClass('active');
        $('#salad').removeClass('active');
        $('#main').removeClass('active');
        $('#menu').removeClass('active');
        $('#drink').removeClass('active');
    })
    $('#drink').click(function(){
        $('#drink').addClass('active');
        $('#star').removeClass('active');
        $('#salad').removeClass('active');
        $('#main').removeClass('active');
        $('#des').removeClass('active');
        $('#menu').removeClass('active');
    })




