.offer
    .container
        .offer-container
            .offer-bkg.position
            h2 What We Offer
            .main
                .offer-content
                    h6 Catering
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
                    a(href="#") Find Our More
                .offer-content
                    h6 Private Dining
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
                    a(href="#") Find Our More
                .offer-content
                    h6 Gift Cards
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
                    a(href="#") Find Our More
        .event-container
            .event-bkg.position
                .sgv-image
                    img(src="./image/fish_left.png", alt="")
            .row
                .col-8
                    h2 Upcoming Event
                    .mad-events
                        .mad-event
                            .event-day
                                .num
                                    | 26
                                |December
                                br
                                |Saturday
                            .title
                                | Chirstmas Brunch  And Dinner
                            a(href="#") Book a Table
                        .mad-event
                            .event-day
                                .num
                                    | 31
                                |December
                                br
                                |Thursay
                            .title
                                | New Year's Eve Celebration
                            a(href="#") Book a Table
                        .mad-event
                            .event-day
                                .num
                                    | 14
                                |Fabruary
                                br
                                |Friday
                            .title
                                | Valentine's Day Dinner
                            a(href="#") Book a Table
                        .button-event
                            a(href="#") View More Event
