.footer
    .footer-main
        .container
            .row
                .col-4 
                    .open
                        h2 We Are Open
                        ul
                            li
                                .burnch
                                    | Brunch

                                | Saturday: 10am - 2pm
                            li
                                .dinner
                                    | Dinner

                                | Monday - Thursday: 5pm - 10pm
                                br
                                |Friday - Saturday: 4pm - 11pm
                            li
                                .hour
                                    |Happy Hour
                                
                                | Monday - Thursday: 5pm - 6pm
                                br
                                |Friday - Saturday: 2pm - 4pm
                .col-4
                    .logo
                        a.image(href="#")
                            img(src="./image/logo2.png", alt="")
                        ul
                            li  
                                | 56 12th Ave,
                                br
                                | New York, NY 10011
                                br
                                a(href="#") Get Direction
                            li
                                | +1 800 603 6035
                                br
                                | +1 800 603 6036
                                br
                                a(href="#") mail@companyname.com
                        .social
                            ul
                                li
                                    a(href="#")
                                        i.fab.fa-facebook-f
                                li
                                    a(href="#")
                                        i.fab.fa-twitter
                                li
                                    a(href="#")
                                        i.fab.fa-instagram
                                li
                                    a(href="#")
                                        i.fab.fa-tripadvisor
                                li
                                    a(href="#")
                                        i.fab.fa-youtube
                                li
                                    a(href="#")
                                        i.fab.fa-pinterest-p
                .col-4
                    .menu   
                        h2 Useful Link
                        ul
                            li
                                a(href="index.pug") Home
                            li
                                a(href="index.pug") About
                            li
                                a(href="index.pug") Menu
                            li
                                a(href="index.pug") Events
                            li
                                a(href="index.pug") Contact
                            li
                                a(href="index.pug") News
                            li
                                a(href="index.pug") Reservation
        p.coppy-right Copyright © 2020 
            a(href="#") LeMar
            |  All Rights Reserved.                     