.review
    .review-container
        .row
            .col-6
                .img
            .col-6
                .view.owl-carousel.owl-theme
                    .content-view
                        .vote
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        .title
                            |Vestibulum ante ipsum primis.
                        p “Luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.”
                        .author
                            cite Mark Jonhson
                            span New York City, New york
                    .content-view
                        .vote
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        .title
                            |Vestibulum ante ipsum primis.
                        p “Luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.”
                        .author
                            cite Mark Jonhson
                            span New York City, New york
                    .content-view
                        .vote
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        .title
                            |Vestibulum ante ipsum primis.
                        p “Luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.”
                        .author
                            cite Mark Jonhson
                            span New York City, New 
        .row
            .col-6
                .view.owl-carousel.owl-theme
                    .content-view
                        .vote
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        .title
                            |Vestibulum ante ipsum primis.
                        p “Luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.”
                        .author
                            cite Mark Jonhson
                            span New York City, New york
                    .content-view
                        .vote
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        .title
                            |Vestibulum ante ipsum primis.
                        p “Luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.”
                        .author
                            cite Mark Jonhson
                            span New York City, New york
                    .content-view
                        .vote
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        .title
                            |Vestibulum ante ipsum primis.
                        p “Luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.”
                        .author
                            cite Mark Jonhson
                            span New York City, New 
            .col-6.col-7
                .img
script.
    $(document).ready(function(){
        $('.view').owlCarousel({
            nav: true,
            loop: true,
            autoplay: true,
            responsive: {
                1000: {
                    items: 1
                },
                0: {
                    items: 1
                }
            }
        })
    });