.menu
    .row
        .col-6
            figure.mark
                img(src="./image/mark.png", alt="")
        .col-6
            h2 Our Menu
            p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, male-suada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in.
            .button
                a.drink(href="#") Drink Menu
                a.food(href="#") Food Menu
.mad-bg
    .mad-img
    .mad-bkg