@media screen and (min-width: 320px) {
    .menu .row {
        padding: 144px 0;
    }
    .menu .row .col-6 {
        padding: 0 16px 32px;
    }
    .menu .row .col-6 .mark{
        position: relative;
    }
    .menu .row .col-6 .mark:after {
        content:'';
        position: absolute;
        top:0;
        left:0;
        margin-left: -170px;
        width: 749px;
        height:578px;
        background: url(../image/fish.png) no-repeat center center;
        z-index: -1;
    }
    .menu .row .col-6 h2 {
        font-size: 60px;
        margin-bottom:40px;
        line-height: 4.5rem;
    }
    .menu .row .col-6  p {
        margin-bottom: 2.5rem;
        width: 100%;
    }
    .menu .row .col-6 .button > * {
        margin: 0.5rem 0.25rem 0;
    }
    .menu .row .col-6 .button a  {
        display: inline-block;
        padding: 1rem 2.5rem 1rem;
        display: inline-block;
        font-size: 1rem;
        color: #ffffff;
        letter-spacing: 0.1px;
        font-weight: normal;
        text-align: center;
        line-height: 1rem;
        position: relative;
        white-space: nowrap;
        z-index: 1;
        position: relative;
        background: #00517f;
        transition: all 0.5s ease;

    }
    .menu .row .col-6 .button a:hover {
        background: #6dcbff;
        color: #040a1c;
    }
    .mad-bg {
        min-height: 400px;
        padding-bottom: 54%!important;
        position: relative;
    }
    .mad-bg .mad-img {
        background-image: url(../image/1.jpg);
        left: -16px;
        right: -16px;
        background-position: 45% 200px;
        background-size: auto;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .mad-bg .mad-bkg {
        overflow: hidden;
    }
}
@media screen and (min-width: 1200px) {
    .menu .row {
        display: grid;
        grid-template-columns: 35% 35%;;
        justify-content:center;
        align-items: center;
    }
}