.header
    .container
        .header-top
            .left
                .left-content
                    i.fas.fa-phone-alt
                    span +084 382 308 647
                .midle-content
                    a(href="index.pug")
                        img(src="./image/logo.png", alt=" logo")
            .right-content
                ul
                    li
                        a(href="#")
                            i.fab.fa-facebook-f
                    li
                        a(href="#")
                            i.fab.fa-instagram
                    li
                        a(href="#")
                            i.fab.fa-tripadvisor
        .menu-nav
            .menu-bar
                a(href="#")
                    i.fas.fa-bars
            .nav
                ul
                    li.has-sub
                        a.active(href="index.pug") HOME
                        ul.sub-menu
                            li
                                a(href="#") Main Home
                            li
                                a(href="#") Left Menu Home
                            li
                                a(href="#") Center Menu Home
                            li
                                a(href="#")  Split Showcase
                            li
                                a(href="#") Right Menu Home
                    li.has-sub
                        a(href="#") PAGE
                        ul.sub-menu
                            li
                                a(href="#") About Us
                            li
                                a(href="#") Team 
                            li.has-sub.sub
                                a(href="#") Menu
                                i.fas.fa-angle-right
                                ul.child.sub-menu
                                    li
                                        a(href="#") Menu Variant 1
                                    li
                                        a(href="#") Menu Variant 2
                                    li
                                        a(href="#") Menu Variant 3
                                    li
                                        a(href="#") Menu Variant 4
                            li.has-sub.sub
                                a(href="#") Portfolio
                                i.fas.fa-angle-right
                                ul.sub-menu.child
                                    li
                                        a(href="#") Classic 3 Columns
                                    li
                                        a(href="#") Classic 3 Columns Wide
                                    li
                                        a(href="#") Morden 3 Columns
                                    li
                                        a(href="#") Morden 3 Columns Wide
                                    li
                                        a(href="#") Masonry
                                    li
                                        a(href="#") Marsonry Wide
                            li.has-sub.sub
                                a(href="#") Singlr Portfolio Post
                                i.fas.fa-angle-right
                                ul.sub-menu.child
                                    li
                                        a(href="#") Small Image
                                    li
                                        a(href="#") Big Image
                                    li
                                        a(href="#") Small Slider
                                    li
                                        a(href="#") Big Slider
                                    li
                                        a(href="#") Small Grid Gallery
                                    li
                                        a(href="#") Big grid Gallery
                                    li
                                        a(href="#") Small Marsonry Gallery
                                    li
                                        a(href="#") Big Marsonry Gallery
                            li.has-sub.sub
                                a(href="#") Gallery
                                i.fas.fa-angle-right
                                ul.sub-menu.child
                                    li
                                        a(href="#") Grid
                                    li
                                        a(href="#") Grid minimal Gap
                                    li
                                        a(href="#") Grid Wide
                                    li
                                        a(href="#") Grid Wide Minimal Gap
                                    li
                                        a(href="#") Marsonry
                                    li
                                        a(href="#") Marsonry Minimal Gap
                                    li
                                        a(href="#") Marsonry Wide
                                    li
                                        a(href="#")  Marsonry Wide Minimal Gap 
                            li
                                a(href="#") Contact V1
                            li
                                a(href="#") Contact V2
                            li
                                a(href="#") Comming Soon Page
                            li
                                a(href="#")  404 Page
                            

                    li.has-sub.has
                        a(href="#") ELEMENTS
                        ul.sub-menu.has-child.mad
                            li.has-sub1
                                a(href="#") ELEMENTS 1
                                ul.menu1
                                    li
                                        a(href="#") Accordions & Toggles
                                    li
                                        a(href="#") Alert Boxes $ Button
                                    li
                                        a(href="#") Call to Actions
                                    li
                                        a(href="#") Counters $ Coundowns
                                    li
                                        a(href="#") Icon With Text
                                    li
                                        a(href="#") Image With Text 
                            li
                                a.no-title(href="#") ELEMENTS 2
                                ul
                                    li
                                        a(href="#") Accordions & Toggles
                                    li
                                        a(href="#") Alert Boxes $ Button
                                    li
                                        a(href="#") Call to Actions
                                    li
                                        a(href="#") Counters $ Coundowns
                                    li
                                        a(href="#") Icon With Text
                                    li
                                        a(href="#") Image With Text
                            li
                                a(href="#") TYPOGRAPHY
                                ul
                                    li
                                        a(href="#") Dropcaps $ Blockquotes
                                    li
                                        a(href="#") Headdings $ Paragraphs
                                    li
                                        a(href="#") HighLight, Tooltips and Listings
                                    li
                                        a(href="#") RTL Version
                            li
                                a(href="#") HEADER AND FOOTER LAYOUTS
                                ul
                                    li
                                        a(href="#") Header v1      
                                    li
                                        a(href="#") Header v2  
                                    li
                                        a(href="#") Header v3   
                                ul
                                    li
                                        a(href="#") Footer v1      
                                    li
                                        a(href="#") Footer V2    
                                    li
                                        a(href="#") Footer v3
                    li.has-sub
                        a(href="#") EVENTS
                        ul.sub-menu
                            li
                                a(href="#") Events List    
                            li
                                a(href="#") Events by Month  
                            li
                                a(href="#") Events by Day
                            li
                                a(href="#") Single Event Page
                    li.has-sub
                        a(href="#") NEWS 
                        ul.sub-menu
                            li.has-sub.sub
                                a(href="#") Classic Blog
                                i.fas.fa-angle-right
                                ul.sub-menu.child
                                    li
                                        a(href="#") With Right Sidebar
                                    li
                                        a(href="#") Without Sidebar
                            li
                                a(href="#") CMarsonry Blog
                            li.has-sub.sub
                                a(href="#") Single Blog Post
                                i.fas.fa-angle-right
                                ul.sub-menu.child
                                    li
                                        a(href="#") With Right Sidebar
                                    li
                                        a(href="#") Without Sidebar

                    li.has-sub
                        a(href="#") RESERVATION
                        ul.sub-menu
                                    li
                                        a(href="#") Via Open Table
                                    li
                                        a(href="#") Via Booked - Appointment Booking Plugin
                    li.has-sub
                        a(href="#") SHOP
                        ul.sub-menu
                            li
                                a(href="#") Shop With Right Sidebar
                            li
                                a(href="list.html") Shop Without Sidebar
                            li
                                a(href="#") Single Product Page
                            li
                                a(href="#") Cart/Checkout
                            li
                                a(href="#") My Account
                .icon
                    a(href="#")
                        i.far.fa-user
                    .shop-cart
                        a.cart(href="#")
                            i.fas.fa-shopping-cart
                            span 3
                        .cart-info#info
                            .product-small
                                .small
                                    button
                                        i.far.fa-times-circle
                                    a(href="single.html")
                                        img(src="./image/ss1.jpg", alt="")
                                    .description
                                        a(href="#") Cured Sea Trout
                                        span 1 x $6.00
                                .small
                                    button
                                        i.far.fa-times-circle
                                    a(href="single.html")
                                        img(src="./image/ss2.jpg", alt="")
                                    .description
                                        a(href="#") Cured Sea Trout
                                        span 1 x $6.00
                            .product-footer
                                .total
                                    | Subtotal: 
                                    span $14.00
                                a(href="#")
                                    span Checkout
                                    i.fas.fa-long-arrow-alt-right

                            
                    a(href="#")
                        i.fas.fa-search


script.
 $('.cart').click(function(){
     $('.cart-info').toggleClass('show-cart');
     
 })
 $('.cart-info').on(click, function(e){
     var target = e.target;
     if( target.id != " info") {
         $('.cart-info').removeClass('show-cart');
     }
 })