@media screen and (min-width: 320px){
    .header  {
        background: #00517f;
        color: #fff;
        z-index: 3;
    }
    .header .header-top .left {
        display: flex;
        padding: 0 16px;
        justify-content: space-between;
        padding-top: 16px;
    }
    .header .header-top .left .left-content i {
        font-size: 18px;
        margin-right: 5px;
    }
    .header .header-top .left .left-content span {
        font-size: 14px;
    }
    .header .header-top .left .midle-content a img {
        width: 60%;
        float: right;
    }
    .header .header-top .right-content ul {
        display: flex;
        justify-content: center;
        padding: 32px 16px 0;
    }
    .header .header-top .right-content ul li a  {
        padding: 16px 16px 0;
        font-size: 1.25rem;
        opacity: 0.7;
    } 
    .header .header-top .right-content ul li a:hover {
        opacity: 1;
    }
    .header .header-top  {
        padding-bottom: 16px;
    }
    .header .menu-nav .nav  {
        display: none;
    }
    .header .menu-nav .menu-bar a i {
        width: 60px;
        height: 60px;
        background-color:#57a2cc;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
    }
    .header .menu-nav .menu-bar {
        display: flex;
        justify-content: center; 
        padding-bottom: 32px;
    }
}
@media screen and (min-width: 480px){
    .header .header-top .left .midle-content a img {
        width: 96%;
        float: right;
    }
}
@media screen and (min-width: 768px){
    .header {
        position: absolute;
        top:0;
        left:0;
        background: none;
        width: 100%;
    }
    .header .header-top  {
        display: grid;
        padding: 56px 16px 40px;
        justify-content: space-between;
        grid-template-columns: 60% 40%;

    }
    .header .header-top .left {
        padding:0;
    }
    .header .header-top .right-content ul {
        padding:0;
        justify-content: flex-end;
    }
    .header .header-top .left .midle-content a img {
        width: 100%;
    }
}
@media screen and (min-width: 1200px){
    .header .header-top  {
        grid-template-columns: 56% 40%;
    }
    .header .container .menu-nav .menu-bar {
        display: none;
    }
    .header .container .menu-nav .nav {
        display: block;
    }
    .header .menu-nav .nav .icon {
        display: none;
    }
    .header .container .menu-nav .nav  ul {
        display: flex;
        justify-content: center;
        letter-spacing: 0.1px;
        z-index: 4;
        list-style: none;
    }
    .header .container .menu-nav .nav ul  li {
        position: relative;
        margin: 0 20px;
    }
    .header .container .menu-nav .nav ul  li  a {
        font-weight: 500;
        position: relative;
        font-size: 16px;
        letter-spacing: 0.5px;
        display: block;
        -webkit-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-delay: 0ms;
        transition-delay: 0ms;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    }
    .header .container .menu-nav .nav ul  li .active::before  {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 100%;
        left:0;
        background: #fff;
        opacity: 1;
        visibility: visible;
    }
    .header .container .menu-nav .nav ul  li  a::before {
        content: "";
        position: absolute;
        width:0;
        height: 2px;
        background: #FFF;
        top:100%;
        left: 50%;
        visibility: hidden;
        opacity:0;
        transition: all 0.5s ease;
    }
    .header .container .menu-nav .nav ul  li:hover  a::before {
        opacity:1;
        visibility: visible;
        width: 100%;
        left:0;
    }
    .header .container .menu-nav .nav .has-sub .sub-menu {
        position: absolute;
        top: 100%;
        min-width: 17.75rem;
        padding: 1.5rem 2rem;
        font-size: 1rem;
        font-weight: normal;
        line-height:2rem;
        color:#fff;
        background-color: rgba(0, 33, 50, 0.9);
        margin-top:1.5rem;
        left:-2rem;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow:  0 0 30px 0 rgba(15, 27 , 56, 0.1);
        box-shadow: 0 0 30px 0 rgba(15, 27 , 56, 0.1);
        -webkit-transition-property: opacity, visibility;
        transition-property: opacity, visibility;
        -webkit-transition-durian: 500ms;
        transition-duration: 500ms;
        -webkit-transition-delay: 0ms;
        transition-delay: 0ms;
        -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: scale3d(0.9, 0.9, 0.9);
        display: block;

    }
    .header .container .menu-nav .nav .has-sub:hover .sub-menu {
        opacity:1;
        visibility: visible;
        transform: scale3d(1, 1, 1);
        transition-property: opacity, visibility,transform;
    } 
    .header .container .menu-nav .nav .has-sub .sub-menu::before {
        content:"";
        position: absolute;
        bottom: 100%;
        left:0;
        width:100%;
        height: 32px;
    }
    .header .container .menu-nav .nav .has-sub:hover .sub-menu li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        position: relative;
    }
    .header .container .menu-nav .nav .has-sub:hover .sub-menu li a:before {
        height:0;
        width: 0;
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom:0;
    }
   
    .header .container .menu-nav .nav .has-sub:hover .sub-menu li:hover > a {
        border-bottom: 1px solid #fff;
        transition: all 0.5s ease;
    }
    .header .container .menu-nav .nav .has-sub .sub-menu .has-sub .child {
        top:-24px;
        left : 100%;
        margin-left: 2.5rem;
        opacity: 0;
        visibility: hidden;
        transform: scale3d(0.9, 0.9, 0.9);
        transition: all 0.5s ease;
    }
    .header .container .menu-nav .nav .has-sub .sub-menu .sub:hover .child {
        opacity: 1;
        visibility: visible;
        transform: scale3d(1, 1, 1);
    }
    .header .container .menu-nav .nav .has {
        position: static;
    }
    .header .container .menu-nav .nav .has .mad {
        right:0;
        left:0;
        text-align: center;
        width:100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: space-between;
        position: absolute;
        transition: all 0.5s ease;
        padding:0;
    }
    .header .container .menu-nav .nav .has .mad li {
        text-align: initial;
        width: 25%;
        padding:0;
    }
}
@media screen and (min-width: 1480px){
    .header .header-top  {
        grid-template-columns: 55% 40%;
    }
    .header .container {
        padding: 0 16px;
        max-width: 100%!important;
    }
    .header .container .header-top {
        padding: 3.5rem 4rem 2.5rem;
    }
    .header .container .header-top .left .left-content span {
        font-size: 18px;
    }
}
